@import url('https://fonts.google.com/specimen/Inter');

html {
	font-size: 62.5%;
	font-family: Inter;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

body {
	background-color: hsl(233, 47%, 7%);
	min-height: 100vh;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 5rem;
}

main {
	width: 100rem;
	font-size: 1.5rem;
	background-color: hsl(244, 38%, 16%);
	border-radius: 1rem;
	margin-bottom: 3rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.card {
	padding: 8rem 7rem;
}

h1 {
	font-size: 3rem;
	color: hsl(0, 0%, 100%);
	margin-bottom: 1em;
}

h1 span {
	color: hsl(277, 64%, 61%);
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5em;

	margin-bottom: 4em;
}

ul {
	display: flex;
	justify-content: space-between;
	margin-right: 3rem;

	font-size: 1.25rem;
	color: hsla(0, 0%, 100%, 0.6);
}

ul li {
	text-transform: uppercase;
}

li span {
	font-size: 2rem;
	line-height: 2em;
	display: block;

	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.card-img {
	background: url('./images/image-header-desktop.jpg') hsl(277, 64%, 61%);
	background-blend-mode: multiply;
	background-size: cover;

	border-radius: 0 1rem 1rem 0;
}

@media (max-width: 1024px) {
	main {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;

		width: 50rem;
	}

	.card {
		padding: 4rem;
	}

	.card-img {
		grid-row-start: 1;

		border-radius: 1rem 1rem 0 0;
	}
}

@media (max-width: 624px) {
	main {
		width: 30rem;
		text-align: center;
	}

	.card {
		width: 30rem;
		padding: 5rem 2rem;
	}

	p {
		margin-bottom: 2.5rem;
	}

	ul {
		flex-direction: column;
		margin-right: 0;
	}

	ul li {
		margin-bottom: 1.5rem;
	}
}
